
*{
    /* background-color: */
    margin: 0;
    padding: 0;
    /* display: flex; */
}
.navlinks{
    list-style: none;
    gap: 1.5rem;
}

.navlinks ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
}
.navlinks a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color: grey;
}

.navbar li{
    float: right;
}
.image{
    float: left;
}
